.body-container {
  padding: 0 1rem;
}
.sticky-navbar {
  height: 10vh;
}
.welcome-section {
  display: flex;
  justify-content: space-around;
}
.welcome-section-right,
.welcome-section-left {
  width: 40%;
}
.left-horizontal-separator {
  color: black;
  height: 1%;
}
