<div class="body-container">
    <sticky-navbar class='sticky-navbar'></sticky-navbar>
    <div class='welcome-section'>
        <div class='welcome-section-left'>
            <h1 class='left-heading'>We make it Super Simple</h1>
            <div class='left-horizontal-separator'></div>
            <mat-card>
                <img mat-card-image src='../../assets/collect_img-video.png' alt="Welcome Banner">
            </mat-card>
        </div>
        <div class='welcome-section-right'>
            <mat-card>
                <img mat-card-image src='../../assets/collect_img-video.png' alt="Welcome Banner">
            </mat-card>
        </div>
    </div>
</div>

<!-- <sticky-navbar class='sticky-navbar'></sticky-navbar> -->